<% layout('/layout/c_j')%>

<style>
  .img{
    width: 50%;
    height: 30%;
  }

  .error_img{
    padding-left: 170px;
  }
</style>

<div class="error_img">
  <img src="./images/Error.png" alt="">
</div>
<!-- <div class="row mt-5">
  <div class="col-6 offset-3">
<div class="alert alert-danger" role="alert">
  
    <h4 class="alert-heading"><%=message %></h4>
  </div>
</div>

</div> -->
