<style>
    .msg{
        padding-top: 4px;
    }
</style>

<footer class="footer bg-dark py-2" id="footer_"  >
    <div class="container">
        <span class="msg" >&copy;Amazon 2023</span>
    </div>
</footer>